NOTION_TOKEN=sss
NOTION_SKILLS_DB=sss
NOTION_EXPERIENCES_DB=sss
NOTION_ITEMS_DB=ss
NOTION_AWARDS_DB=your_awards_database_id
NOTION_CONTRIBUTIONS_DB=your_contributions_database_id
NOTION_EDUCATIONS_DB=your_educations_database_id
NOTION_SERVICES_DB=your_services_database_id
NOTION_TESTIMONIALS_DB=your_testimonials_database_id

# not required for project just github action
CLOUDFLARE_API_TOKEN=zz
CLOUDFLARE_ACCOUNT_ID=zz
