<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil de carrière</h2>
<div class="summary">
    <p>
        Après quelques années passées sur des postes de CTO, product owner, tech lead, j'ai acquis une solide expérience dans le monde de
        l'entrepreunariat, l'innovation, le management, le produit, tout en continuant à perfectionner mes compétences techniques.
    </p>
    <p>
        J'ai rejoint Frizbiz 6 ans après son lancement, lors de la création du poste de CTO.
        Je suis arrivé pour la conception d'un nouveau produit sur le modèle BtoB et BtoBtoC à destination des partenaires et
        avec pour objectif transverse une refonte technique de l'existant.</br>
        J'ai également co-fondé une startup EcoTa.co, dans laquelle j'étais CTO, qui participait à l'innovation dans le
        secteur de la mobilité et du transport.
        Une aventure qui a duré 5 ans et m'a permis de me focaliser sur la conception globale d'un produit, le business
        model, la stratégie, les besoins clients et partenaires, le management...
        Des compétences et expériences que je souhaiterais mettre à profit dans mes futurs postes.
    </p>
</div><!--//summary-->
</section><!--//section-->
