<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil de carrière</h2>
<div class="summary">
    <p>
        Dernièrement sur des postes de CTO, product owner, j'ai acquis une solide expérience dans le monde de l'entreprenariat,
        l'innovation, le management, le produit, tout en continuant à perfectionner mes compétences techniques.
    </p>
    <p>
        Frizbiz m'a accueilli en tant que CTO, un poste manquant depuis sa création 6 ans auparavant.
        Je suis arrivé pour la création d'un nouveau produit sur le model BtoB et BtoBtoC à destination des partenaires et
        avec un objectif transverse de refonte technique de l'existant.</br>
        J'ai également co-fondé une startup EcoTa.co, dans laquelle j'étais CTO, qui participait à l'innovation dans le
        secteur de la mobilité et du transport.
        Une aventure qui a duré 5 ans et m'a permis de me focaliser sur la conception globale d'un produit, le business
        model, la stratégie, les besoins clients et partenaires, le management...
        Des compétences et expériences que je souhaiterais mettre à profit dans mes futures postes.
    </p>
</div><!--//summary-->
</section><!--//section-->
