<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profil de carrière</h2>
<div class="summary">
    <p>
        Après plusieurs années passées sur des postes de CTO, j'ai acquis une solide expérience dans les domaines de l'entrepreneuriat, de l'innovation, du management et du produit, tout en continuant à perfectionner mes compétences techniques.
    </p>
    <p>
        J'ai évolué en tant que CTO dans des startups comme Frizbiz et EcoTa.co (que j'ai cofondée), ainsi que dans des sociétés de services telles que theTribe et Ippon.
    </p>
    <p>
        Des compétences et expériences que je souhaite mettre à profit dans mes futurs postes.
    </p>
</div><!--//summary-->
</section><!--//section-->
