<!-- Image Secondary Component Examples -->
<div class="examples-container">
  <div class="examples-grid">
    <!-- Image Secondary par défaut -->
    <div class="example-item">
      <h4 class="example-item__title">Image Secondary par défaut</h4>
      {% include components/image-secondary.html %}
    </div>

    <!-- Image Secondary avec image personnalisée -->
    <div class="example-item">
      <h4 class="example-item__title">Avec image personnalisée</h4>
      {% include components/image-secondary.html 
         image_url="/assets/images/avatar.jpeg" 
         image_alt="Portrait personnalisé" %}
    </div>

    <!-- Image Secondary avec badge personnalisé -->
    <div class="example-item">
      <h4 class="example-item__title">Avec badge personnalisé</h4>
      {% include components/image-secondary.html 
         show_status="true"
         badge_number="5+" 
         badge_text="années<br>d'expérience" %}
    </div>

    <!-- Image Secondary sans badge -->
    <div class="example-item">
      <h4 class="example-item__title">Sans badge</h4>
      {% include components/image-secondary.html 
         show_status="false" %}
    </div>

    <!-- Image Secondary complètement personnalisée -->
    <div class="example-item">
      <h4 class="example-item__title">Complètement personnalisée</h4>
      {% include components/image-secondary.html 
         image_url="/assets/images/avatar.jpeg" 
         image_alt="Membre de l'équipe"
         show_status="true"
         badge_number="10+" 
         badge_text="projets<br>réalisés" %}
    </div>

    <!-- Image Secondary avec badge différent -->
    <div class="example-item">
      <h4 class="example-item__title">Avec badge différent</h4>
      {% include components/image-secondary.html 
         show_status="true"
         badge_number="100%" 
         badge_text="satisfaction<br>client" %}
    </div>
  </div>
</div>
