<!-- List Checked Component -->
<div class="list-checked">
  {% if include.title %}
    <h3 class="list-checked__title">{{ include.title }}</h3>
  {% endif %}
  
  <div class="list-checked__grid">
    {% if include.item1_text %}
      <div class="list-checked__item">
        {% if include.item1_icon %}
          {{ include.item1_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item1_text }}</span>
      </div>
    {% endif %}
    
    {% if include.item2_text %}
      <div class="list-checked__item">
        {% if include.item2_icon %}
          {{ include.item2_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item2_text }}</span>
      </div>
    {% endif %}
    
    {% if include.item3_text %}
      <div class="list-checked__item">
        {% if include.item3_icon %}
          {{ include.item3_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item3_text }}</span>
      </div>
    {% endif %}
    
    {% if include.item4_text %}
      <div class="list-checked__item">
        {% if include.item4_icon %}
          {{ include.item4_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item4_text }}</span>
      </div>
    {% endif %}
    
    {% if include.item5_text %}
      <div class="list-checked__item">
        {% if include.item5_icon %}
          {{ include.item5_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item5_text }}</span>
      </div>
    {% endif %}
    
    {% if include.item6_text %}
      <div class="list-checked__item">
        {% if include.item6_icon %}
          {{ include.item6_icon }}
        {% else %}
          <svg class="list-checked__icon" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M21.801 10A10 10 0 1117 3.335M9 11l3 3L22 4"/>
          </svg>
        {% endif %}
        <span>{{ include.item6_text }}</span>
      </div>
    {% endif %}
  </div>
</div>
